<div class="container">
  <h1>Cohorts:</h1>
  <a href="/cohorts/new" class="waves-effect waves-light btn indigo lighten-1"><i class="material-icons md-24 right"></i>Add cohort</a>
  
 <table class="table">
            <thead>
                <tr>
                <th>Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Show</th>
                <th>Edit</th>
                <th>Delete</th>
                 
            </thead>
      
            <tr>
            <% @cohorts.each do |cohort| %>
              <tbody id="cohort<%= cohort.id %>">
                <th> <%= cohort.name %> </th>
                <td> <%= cohort.start_date %> </td>
                <td> <%= cohort.end_date %> </td>
                <td id="one"> <a href="/cohorts/<%= cohort.id %>"><i class="material-icons md-25">show</i></a></td>
                <td id= "two"> <a href="/cohorts/<%= cohort.id %>/edit"><i class="material-icons md-25">edit</i></a></td>
                <td id='three'> <%= link_to '<i class="material-icons">delete</i>'.html_safe, cohort_path(id: cohort.id), method: :delete, remote: true %></td>
              </tr>
            </tbody>
          <% end %>
        </table>
 

</div>