<div class="container">
  <h1>Instructor:</h1>
<a href="/instructors/new" class="waves-effect waves-light btn indigo lighten-1"><i class="material-icons md-24 right"</i>Add instructor</a>


 <table class="table">
            <thead>
                <tr>
                    <th class="first_name" scope="col">First Name</th>
                    <th class="last_name" scope="col">Last Name</th>
                    <th class="age" scope="col">Age</th>
                    <th class="education" scope="col">Education</th>
                    <th class="salary" scope="col">Salary</th>
                    <th>Show</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>

    <% @instructors.each do |instructor| %>
      <tr>
      <div id="delete<%= instructor.id%>"> 
      <tbody id="instructor<%= instructor.id %>">
          <th> <%= instructor.first_name %> </th>
          <td> <%= instructor.last_name %> </td>
          <td> <%= instructor.age %> </td>
          <td> <%= instructor.education %> </td>
          <td> <%= instructor.salary %> </td>
          <td> <a href="/instructors/<%= instructor.id %>"><i class="material-icons md-25">show</i></a></td>
          <td> <a href="/instructors/<%= instructor.id %>/edit"><i class="material-icons md-25">edit</i></a></td>
          <td><%= link_to "Delete", instructor_path(instructor.id), method: :delete, remote: true %></td>
      </tbody>
      </tr>
    <% end %>
  </table>
</div>
        

        
        