<div class="container">
  <h1>Courses:</h1>
  <a href="/courses/new" class="waves-effect waves-light btn indigo lighten-1"><i class="material-icons md-24 right"></i>Add course</a>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Total Hours</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <% @courses.each do |course| %>
      <div id="delete<%= course.id %>">
          <th> <%= course.name %> </th>
          <td> <%= course.hours %> </td>
          <td> <a href="/courses/<%= course.id %>"><i class="material-icons md-25">show</i></a></td>
          <td> <a href="/courses/<%= course.id %>/edit"><i class="material-icons md-25">edit</i></a></td>
          <td> <%= link_to "Delete", course_path(course.id), method: :delete, remote: true %></td>
      </tbody>
      </div>
    <% end %>
  </table>
</div>

